@import "https://at.alicdn.com/t/font_416564_7qliqrb370bb7qfr.css";

@orange: #ff611b;
@white: #fff;
@red: #ef3929;
@disabled: rgba(0, 0, 0, 0.25);
@gray: #d9d9d9;
@sliver: #f5f5f5;
@border: rgba(221, 221, 221, 0.33);
@black: #000;
@mask: rgba(0, 0, 0, 0.65);
@gray888: #888;
@orange-active: @orange - #111;
@red-active: @red - #111;